<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/Users/jaifowsar/desktop/theironyard/Lab2/normalize.css">

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    Destination = <%=Destination%>
    <%=Shipment%>
    <%=Crates%>
    <%=Money%>

  </body>
</html>
